@import url('https://rsms.me/inter/inter.css');
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+TC);

:root{
    --gray-1: #8e8e93;
    --gray-2: #aeaeb2;
    --gray-3: #c7c7cc;
    --gray-4: #d1d1d6;
    --gray-5: #d1d1d6;
    --gray-6: #f2f2f7;

    --red: #ff3b30;
    --red-dark: #fa0c00;
    --red-light: #ff6961;

    --orange: #ff9500;
    --orange-dark: #cc7700;
    --orange-light: #ffaa33;

    --yellow: #ffcc00;
    --yellow-dark: #cca300;
    --yellow-light: #ffd633;

    --green: #34c759;
    --green-dark: #299e46;
    --green-light: #59d478;

    --mint: #00c7be;
    --mint-dark: #00948d;
    --mint-light: #00faed;

    --teal: #30b0c7;
    --teal-dark: ;


    --cyan: #32ade6;
    --cyan-dark: #1993cc;
    --cyan-light: #60bfeb;

    --blue: #007aff;
    --blue-dark: #0063cc;
    --blue-light: #3396ff;

    --indigo: #5856d6;



    --purple: #af52de;



    --pink: #ff2d55;



    --brown: #a2845e;




    --link: #0066cc;
    --link-light: #0080ff;
    --link-dark: #004d99;

    --font-family: -apple-system, BlinkMacSystemFont, 'Inter', Helvetica Neue, Helvetica, sans-serif;
}